@import "../../../../styles/shared.scss";

.subscription {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: $grey;
  }

  i.icon {
    color: $red;
  }
}
