.next-up-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .up-next-toggle {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }
}
